footer div.container-footer { 
    height: 120px;
}

footer div.container-footer div { 
    display: flex;
    justify-content: center;
}

footer div.container-footer div p { 
    font-size: var(--p-font-size);
    font-family: var(--p-font-family);
    color: var(--text-color);
    
    text-align: center;
    height: 22px;
    width: 227px;
    margin:24px auto 16px;
}

footer div.container-footer div.networks div {     
    width: 14%;
    height: 28px;
    margin: 0 5px;

    display: flex;
    flex-direction: space-between;
}

footer div.container-footer div.networks div a { 
    line-height: 28px;
    margin-right: 8px;
}
