section.galery div h3 { 
    font-size: var(--h-font-size);
    font-family: var(--h-font-family);
    color:var(--text-color);

    margin: 54px 0 14px 16px;
}

section.galery div.img { 
    display: flex;
    flex-wrap: wrap;
}

section.galery div.img img {    
    width: 100%;
    height: 4,5%;
    margin: 0px;    
}