:root { 

    --text-color: #060A24;
    /* H1 */
    --h-font-size: 36px;
    --h-font-family: 'IBM Plex Sans', sans-serif;
    /* H2 */
    --h2-font-size: 24px;
    --h2-font-family: 'IBM Plex Sans-SemiBold', sans-serif;
    /* P */
    --p-font-size: 14px;
    --p-font-family: 'IBM Plex Mono', monospace;
    /* Button */
    --button-font-size: 16px; 
    --button-font-family: 'IBM Plex Mono-Medium', monospace;
    --button-background: rgb(0, 243, 187) ; 

    /* Background */
    --background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

    /* nav */
    --nav-background: rgba(0,0,236,1);
}