main section.galery div h3 { 
    margin: 140px 0 36px 14%;

    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
}

/* img */
main section.galery div.img { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;


}

main section.galery div.img img { 
    width: 449px;
    height: 364px;
    cursor: pointer;
    /* flex-grow especifica cuanto crecera el item con respecto al contenedor */
    flex-grow: 1;
    
}


/* :hover */
main section.galery div.img img:hover { 
    transform: translate(3px,3px);
    box-shadow: 3px 3px 8px grey;

}