main div.ours { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
/* DE DONDE VENIMOS */

main div.ours section.where { 
    width: 464px;
    height: 204px;
    margin-left: -10%;

}

main div.ours section.where .tittle-2 { 
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
    color: var(--text-color);
    margin-bottom: 24px;
}

main div.ours section.where .tittle-2 span.block-2 { 
    display: inline-block;
}

/* PHONE */

main div.ours .iphone-img img { 
    width: 460px;
    height: 660px;

    margin-top: -200px;
}