section.theme div.tittle-3 h3{ 
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);

    margin-left: 14%;
}

section.theme div.icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

section.theme div.icon div p { 
    font-size: var(--h3-font-size);
    font-family: var(--h3-font-family);
}

section.theme div.icon div { 
    width: 260px;
    cursor: pointer;
}



section.theme div.icon div p {
    width: 220px;
    height: 64px;
    margin: 29px auto 0px;
}

section.theme div.icon div:nth-child(4) { 
    width: 230px;
}

section.theme div.icon div:nth-child(4) span.block-5 { 
    display: block;
}

/* img */

section.theme div.icon div img:hover { 
    transform: translate(3px,3px);
}
